<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <head>
        <title>Пример dropdown</title>
    <link rel="stylesheet" href="../css/style.css">
    <script>
        $(function () {
            $('navbar a').animate({
                'font-size':'24px',
                'padding':'20px'
            },3000);
        });
    </script>
</head>
<body>
<div class="wrapper">
    <div class="content>">
        <div>
            <div class="navbar">
                <a href="#">аксессуары</a>
                <a href="#">классика</a>
                <div class="dropdown">
                    <button class="dropbtn">коллекция</button>
                    <div class="dropdown-content">
                        <a href="#">ссылка 1</a>
                        <a href="#">ссылка 2</a>
                        <a href="#">ссылка 3</a>
                    </div>
                </div>
                <a href="../index.php">новое</a>
            </div>
            <div class="desc_img">
                <div class="container_slider_css">
                    <a href="#">
                        <image class="image" src="images/2.webp"></image>

                    </a>
                </div>
            </div>
            <div class=desc_words>
                <h1>DAFT PUNK<br>RANDOM ACCESS MEMORIES</h1>
            </div>
            <div class="value">
                <p>4 213 ₽</p>
            </div>
            <div class="desc_h5">
                <h3>Виниловая пластинка Daft Punk - Random
                    <br>
                    Access Memories (2LP)
                    <br>
                    Исполнитель: Daft Punk
                    <br>
                    Альбом:Random Access
                    <br>
                    Страна:
                    <br>
                    Лейбл:
                    <br>
                    Год выпуска/год издания: 2013
                    <br>
                    Стиль: Electronic
                </h3>
            </div>
            <button id="btn">
                <img src="../images/back2.jpg" aria-hidden="true" style="width:20px; height:20px;">
                Добавить в корзину
            </button>
        </div>

        <div class="down_h5">
            <h3>ВМЕСТЕ С ЭТИМ ПОКУПАЮТ</h3>
        </div>
        <div class="desc_img">
            <div>
                <a href="royal_blood.html">
                    <image class="image2" src="images/3.webp"></image>
                </a>
            </div>

            <div class=desc_words2>
                <h1>RHCP<br>CALIFORNICATION</h1>
                <br>
                <p>4 213 ₽</p>
                <a href="royal_blood.html" class="other_val"><h5>Перейти &rarr;</h5></a>
            </div>
        </div>
        <div class=desc_words3>
            <div>
                <h1>ROYAL<br>BLOOD</h1>
                <a href="rhcp.html" class="other_val"><h5>Перейти &rarr;</h5></a>
                <div>
                    <div>
                        <a href="rhcp.html">
                            <image class="image3" src="images/4.webp"></image>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="label">
        <p>VINIL</p>
    </div>
    <div class="info">
        <p>molodkin.98@mail.ru</p>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/eshop.js"></script>

</body>
</html>