<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <head>
        <title>Пример dropdown</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div>
    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <h2 class="logo">
            <div class="vinil">
                <a href="#">VINIL</a>
            </div>
        </h2>
        <ul>
            <li><a href="#1">Один</a>
            <li><a href="#2">Два</a>
            <li><a href="#3">Три</a>
            <li><a href="#4">Четыре</a>
            <li><a href="#5">Пять</a>
            <li><a href="#6">Шесть</a>
            <li><a href="#7">Семь</a>
        </ul>
    </nav>
</div>
<div class="navbar">
    <a href="#">аксессуары</a>
    <a href="#">классика</a>
    <div class="dropdown">
        <button class="dropbtn">коллекция</button>
        <div class="dropdown-content">
            <a href="#">ссылка 1</a>
            <a href="#">ссылка 2</a>
            <a href="#">ссылка 3</a>
        </div>
    </div>
    <a href="../index.php">новое</a>
</div>
<div class="desc_img">
    <a href="#">
        <image class="image" src="images/4.webp"></image>
    </a>
</div>
<div class=desc_words>
    <h1>ROYAL BLOOD<br>TYPHOONS</h1>
</div>
<div class="value">
    <p>4 102 ₽</p>
</div>
<div class="desc_h5">
    <h3>Виниловая пластинка ROYAL BLOOD -
        <br>
        TYPHOONS
        <br>
        Исполнитель: ROYAL BLOOD
        <br>
        Альбом:TYPHOONS
        <br>
        Страна:
        <br>
        Лейбл:
        <br>
        Год выпуска/год издания: 2021
        <br>
        Стиль: Rock
    </h3>
</div>
<button id="btn">
    <img src="../images/back2.jpg" aria-hidden="true" style="width:20px; height:20px;">
    Добавить в корзину
</button>
</div>

<div class="down_h5">
    <h3>ВМЕСТЕ С ЭТИМ ПОКУПАЮТ</h3>
</div>
<div class="desc_img">
    <div>
        <a href="royal_blood.html">
            <image class="image2" src="images/3.webp"></image>
        </a>
    </div>

    <div class=desc_words2>
        <h1>RHCP<br>CALIFORNICATION</h1>
        <br>
        <p>4 213 ₽</p>
        <a href="royal_blood.html" class="other_val"><h5>Перейти &rarr;</h5></a>
    </div>
</div>
<div class=desc_words3>
    <div>
        <h1>DUFT PUNK<br>RANDOM ACCESS MEMORIES</h1>
        <a href="../index.php" class="other_val"><h5>Перейти &rarr;</h5></a>
        <div>
            <div>
                <a href="../index.php">
                    <image class="image3" src="images/2.webp"></image>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>